<!DOCTYPE html>
<%- include('../../fragments/header.ejs') %>

        <main>
            <script type="application/javascript" src="/js/validationCommon.js"></script>
            <script type="application/javascript" src="/js/validationCarForm.js"></script>
            <h2><%= pageTitle %></h2>
            <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
                    <input type="hidden" name="_id" value="<%= car._id %>" />

                    <label for="brand">Marka:<sup>*</sup></label>
                    <input type="text" name="brand" id="brand" placeholder="2-60 znaków" value="<%= car.brand %>" class="<%= validationErrors.find(car => car.path.includes('brand')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorBrand" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('brand'))) { %>
                            <%= validationErrors.find(car => car.path.includes('brand')).message %>
                        <% } %>
                    </span>

                    <label for="model">Model:<sup>*</sup></label>
                    <input type="text" name="model" id="model" placeholder="2-60 znaków" value="<%= car.model %>" class="<%= validationErrors.find(car => car.path.includes('model')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorModel" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('model'))) { %>
                            <%= validationErrors.find(car => car.path.includes('model')).message %>
                        <% } %>
                    </span>

                    <label for="engine">Silnik:</label>
                    <input type="number" name="engine" id="engine" placeholder="Pojemność w cm3" value="<%= car.engine %>" class="<%= validationErrors.find(car => car.path.includes('engine')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorEngine" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('engine'))) { %>
                            <%= validationErrors.find(car => car.path.includes('engine')).message %>
                        <% } %>
                    </span>

                    <label for="power">Moc:</label>
                    <input type="number" name="power" id="power" placeholder="w KM"  value="<%= car.power %>" class="<%= validationErrors.find(car => car.path.includes('power')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorPower" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('power'))) { %>
                            <%= validationErrors.find(car => car.path.includes('power')).message %>
                        <% } %>
                    </span>

                    <label for="type">Typ:</label>
                    <input type="text" name="type" id="type" placeholder="Sedan/Coupe/Kombi itp." value="<%= car.type %>" class="<%= validationErrors.find(car => car.path.includes('type')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorType" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('type'))) { %>
                            <%= validationErrors.find(car => car.path.includes('type')).message %>
                        <% } %>
                    </span>

                    <label for="price">Cena:</label>
                    <input type="number" name="price" id="price" placeholder="Cena za dzień"  value="<%= car.price %>" class="<%= validationErrors.find(car => car.path.includes('price')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorPrice" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('price'))) { %>
                            <%= validationErrors.find(car => car.path.includes('price')).message %>
                        <% } %>
                    </span>

                    <label for="bail">Kaucja:</label>
                    <input type="number" name="bail" id="bail" placeholder="Kaucja"  value="<%= car.bail %>" class="<%= validationErrors.find(car => car.path.includes('bail')) ? 'error-input' : '' %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                    <span id="errorBail" class="errors-text">
                        <% if (validationErrors.find(car => car.path.includes('bail'))) { %>
                            <%= validationErrors.find(car => car.path.includes('bail')).message %>
                        <% } %>
                    </span>

                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <% if (formMode != 'showDetails') { %>
                            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                            <a class="form-button-cancel" href="/car">Anuluj</a>
                        <% } else if (formMode == 'showDetails') { %>   
                            <% if(loggedUser && loggedUser.type == 'admin') { %>                
                                <a class="form-button-edit" href="/car/edit/<%= car._id %>">Edytuj samochód</a>
                            <% } %>
                            <a class="form-button-cancel" href="/car">Anuluj</a>
                        <% } else { %>
                            <a class="form-button-cancel" href="/car">Powrót</a>
                        <% } %>
                    </div>
            </form>
                
            <% if (formMode == 'showDetails' || formMode == 'edit') { %>
                <h2>
                    Szczegóły wypożyczenia
                </h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Email</th>
                        <th>PESEL</th>
                        <th>Data od:</th>
                        <th>Data do:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let e of car.rents) { %>
                        <tr>
                            <td><%= e.customer.firstName %></td>
                            <td><%= e.customer.lastName %></td>
                            <td><%= e.customer.email %></td>
                            <td><%= e.customer.pesel %></td>
                            <td><%= e.dateFrom.toISOString().split('T')[0] %></td>
                            <td><%= e.dateTo.toISOString().split('T')[0] %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <% } %>
            
            
        </main>

<%- include('../../fragments/footer.ejs') %>